.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-thq-hero-container-elm {
  position: relative;
}
 
.home-thq-background-mesh-elm {
  background-size: cover;
  background-image: radial-gradient(circle at center, rgb(0, 0, 0) 0.00%,rgb(0, 0, 0) 0.00%);
  background-position: top left;
}
 
.home-thq-content-wrapper-elm {
  top: 468px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
 
.home-thq-main-title-elm {
  top: -91px;
  left: 0px;
  color: #5653a3;
  right: 0px;
  width: 476px;
  margin: auto;
  position: absolute;
  font-style: normal;
  font-family: "Inter";
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
 
.home-thq-nav-btn-elm1 {
  border-color: #5653a3;
  border-width: 3px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--bg-color);
}
 
.home-thq-btn-text-elm1 {
  color: rgb(86, 83, 163);
  font-family: "Inter";
}
 
.home-thq-nav-btn-elm2 {
  border-color: #5653a3;
  border-width: 3px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--bg-color);
}
 
.home-thq-btn-text-elm2 {
  color: #5653a3;
  font-family: "Inter";
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
 
.home-container6 {
  display: none;
}
 
.home-container7 {
  display: contents;
}
 
.home-link3 {
  display: contents;
}
 
.home-container8 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-thq-main-title-elm {
    font-style: normal;
    font-weight: 200;
  }
  .home-thq-nav-btn-elm2 {
    backdrop-filter: grayscale(50%);
  }
}
 
@media(max-width: 767px) {
  .home-thq-background-mesh-elm {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-thq-main-title-elm {
    top: -92px;
    left: 0px;
    right: 0px;
    height: 84px;
    margin: auto;
    position: absolute;
    font-style: normal;
    font-weight: 200;
    line-height: 1.6;
  }
  .home-thq-button-group-elm {
    width: var(--dl-layout-size-xxlarge);
    align-self: center;
    flex-direction: row;
  }
  .home-thq-nav-btn-elm1 {
    width: var(--dl-layout-size-large);
    display: flex;
    align-self: stretch;
  }
  .home-thq-nav-btn-elm2 {
    width: var(--dl-layout-size-large);
  }
}
 
@media(max-width: 479px) {
  .home-thq-main-title-elm {
    top: -67px;
    left: 6px;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    position: absolute;
    font-style: normal;
    text-align: center;
    align-items: center;
    font-weight: 200;
    line-height: 1.4;
    white-space: normal;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-thq-button-group-elm {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 237px;
    margin: auto;
    position: absolute;
    align-self: stretch;
    flex-direction: row;
  }
  .home-thq-nav-btn-elm1 {
    width: 111px;
    height: 43px;
  }
  .home-thq-nav-btn-elm2 {
    width: 111px;
    height: 43px;
  }
}
